<div class="modal-overlay" id="confirmation-modal">
    <div class="modal confirmation-modal">
        <h2 id="confirmation-title">Confirmar ação</h2>
        <p id="confirmation-message">
            Tem certeza de que deseja continuar?
        </p>

        <form class="modal-form" id="modal-form" method="POST">
            <div class="confirmation-actions">
                <button class="button-secondary" id="confirmation-no" type="button">Não</button>
                <button class="delete-confirm-button" id="confirmation-yes" type="submit">Sim</button>
            </div>
        </form>
    </div>
</div>