<div class="modal-overlay" id="confirmation-modal">
    <div class="modal confirmation-modal">
        <h2>Confirmar remoção</h2>
        <p>
            Tem certeza de que deseja remover este registro?
            Esta ação poderá afetar informações relacionadas.
        </p>
        <form class="modal-form" id="modal-form" method="POST">
            <div class="confirmation-actions">
                <button class="button-secondary" id="confirmation-no" type="button">Não</button>
                <button class="delete-confirm-button" id="confirmation-yes" type="submit">Sim</button>
            </div>
        </form>
    </div>
</div>