# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.py[cod]

# Banco de dados local
instance/*.db
instance/*.sqlite
instance/*.sqlite3

# Variáveis de ambiente
.env

# Configurações locais
.vscode/
.idea/